<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learning.newuserkk.xkcdbrowser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".XkcdBrowser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ImagesListActivity"
            android:label="@string/title_images_list"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagesDetailActivity"
            android:label="@string/title_images_detail"
            android:parentActivityName=".ImagesListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.learning.newuserkk.xkcdbrowser.ImagesListActivity" />
        </activity>

        <service android:name=".picture.service.FetchComicService" />

        <activity
            android:name=".picture.favorites.FavoritesActivity"
            android:label="@string/favorites"
            android:parentActivityName=".ImagesListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.learning.newuserkk.xkcdbrowser.ImagesListActivity" />
        </activity>
    </application>

</manifest>